body{
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}
.folder{
    width: 120px;
    height: 120px;
    /* border: 1px solid #323232; */
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
.folder:hover{
    background-color: lightgray;
}
img{
    width: 2.4cm;
    height: 2.5cm;
}
h1{
    color: lightslategray;
    font-size: 3em;
    text-align: center;
    border: 8px solid lightslategray;
    border-radius: 15px;
}
video{
    width: 3cm;
    height: 3cm;
}